// Page générale

.panel 
  display: none
  
  &.active
    display: block
     

.col-5
  height: 300px
  width: 300px


  .panel-move
    width: 200px
    height: 200px

// Calculette 

.calculette
  width: 400px
  height: auto

.container-hard
  margin-left: 100px
  margin-right: 100px

// EXO 7

#exo7
  .list-group-item
    a
      text-decoration: none
      color: black

      svg
        height: 20px
        

  .line
    text-decoration: line-through

